/*! core.scss | Krypton | CSS Ninja */

/* ==========================================================================
Core 
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. CSS Imports
=============================================================================
***/

/* ==========================================================================
0. CSS Imports
========================================================================== */

@import 'abstracts/theme-default';
@import 'abstracts/colors';
@import 'abstracts/animations';
$menu-label-color: #4a4a4a;
$table-color: #fff;
$table-background-color: transparent;

$orange: #ff8606;
$orange-invert: findColorInvert($orange);
$purp: #0F0330;
$purp-invert: findColorInvert($purp);
$custom-colors: ("orange": ($orange, $orange-invert),"purp": ($purp, $purp-invert));


@import "../sass/bulma";

@import 'components/buttons';
@import 'components/forms';
@import 'components/hamburger';
@import 'layout/layout';
@import 'layout/features';
@import 'layout/timeline';
@import 'layout/team';
@import 'layout/faq';
@import 'layout/blog';
@import 'layout/footer';
@import 'layout/pageloader';
@import 'layout/responsive';

body {
	background: #0f0330;
}
html {
	background: #0f0330;
}

